@import "../../../../styles/variables";
@import "../../../../styles/mixins";

div.product-card {
  display: block;
  width: 95%;
  margin: 30px auto;
  padding: 30px;
  @include box-shadow($shadow-large-light);
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    @include box-shadow($shadow-small-dark);
  }

  img {
    display: block;
    margin: 0 auto 30px;
    width: 100%;
    height: auto;
  }
  p.title {
    display: block;
    text-align: center;
    font-family: $font-roboto;
    font-weight: 300;
    font-size: 2.2rem;
    min-height: 100px;
  }
  .price-actions-container {
    div {
      &.actions {
        display: block;
        float: left;
      }
      &.price {
        display: block;
        float: right;
        font-weight: 300;
        font-size: 2.6rem;
      }
    }
  }
}