<nav>
    <ul class="nav-desktop">
        <li>
            <a routerLink="/"><i class="material-icons">home</i> Home</a>
        </li>
        <li>
            <a routerLink="/shopping-cart"><i class="material-icons">shopping_cart</i> Shopping-Cart</a>
        </li>
    </ul>
</nav>
<ul class="nav-mobile">
    <li>
        <a routerLink="/"><i class="material-icons">home</i> Home</a>
    </li>
    <li>
        <a routerLink="/shopping-cart"> <i class="material-icons">shopping_cart</i> Shopping-Cart</a>
    </li>
</ul>
