@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";
// desktop nav
ul.nav-desktop {
  display: none;
  list-style-type: none;
  li {
    display: inline-block;
  }
}
// mobile nav
ul.nav-mobile {
  display: block;
  list-style-type: none;
  li {
    display: block;
    width: 100%;
  }
}
// general link + icon
ul {
  background-color: $color-secondary;
  padding: 0;
  li {
    background-color: $color-secondary;
    @include transition((background-color 0.3s ease-in-out));

    &:hover {
      background-color: $color-secondary-light;
    }
    a {
      display: block;
      padding: 20px 30px;
      font-size: 22px;
      font-weight: 300;
      text-decoration: none;
      color: #fff;
      i {
        position: relative;
        top: 4px;
      }
    }
  }
}
.nav-mobile-icon {
  display: block;
}

//--------------- MEDIA --------------------
@media screen and (min-width: 768px) {
  ul.nav-desktop {
    display: block;
  }
  ul.nav-mobile, .nav-mobile-icon {
    display: none;
  }
}