@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.item {
  margin: 10px 0;
  border: 1px solid $color-shadow-dark;
  .item-image {
    padding: 10px;
  }
  .item-title {
    height: 100%;
    font-size: 2.2rem;
    vertical-align: center;
  }
  .item-price {

  }
}